.body{
    background: white;
    color: #333;
    font-family: "Microsoft YaHei UI Light", "微软雅黑", "黑体", serif;
    overflow-x: hidden;
}

.jumbotron{
    margin: 0px;
    padding: 100px;
}

#nav{
    margin-bottom: 0px;
}

.price-title{ text-align: center;}
.price-title h1{ font-size:30px; color: #333; margin-bottom: 20px}
.price-title p{ font-size:16px; color: #333; padding: 0 20px}
.price-wrap{ width: 1100px; margin-left: auto; margin-right: auto;}
.price-server{ margin: 30px -10px 30px -10px;}
.server-item{ width: 25%; padding: 10px; text-align: center;  font-size: 16px; float: left;}
.server-wrap{ border: 1px solid #e6e6e6; transition: all .3s;}
.server-header{ height: 69px; color: #333; display: flex; align-items: center; justify-content: center; font-weight: 600;}
.server-header span{display: flex; justify-content: center; align-items: center;}
.server-body{  height: 135px; padding-top: 80px; padding-bottom:20px; box-sizing: content-box; color: #646464; position: relative; font-size: 15px;}
.server-body:after{ content:""; position: absolute; display: block; height: 1px; background: #e6e6e6; margin: 0 30px; top:0; left:0; background: #eee; width: calc(100% - 60px); }
.server-item:hover .server-header{ border-top: 10px solid #4b99f8;}
.server-item:hover .server-body span{ color: #4b99f8;}
.server-item:hover .server-wrap{ box-shadow: 0 20px 20px rgba(37,80,133,.15); transform: translateY(-10px); border-color: #FFF;}


#content .post-text blockquote {
    position: relative;
    padding: 3% 0 3.5% 12%;
    margin-bottom: 1%;
    border-top: solid 8px #DFE7EC
}

.widget {
    margin-bottom: 35px
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative
}

.widget .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #337ab7;
    position: absolute;
    left: 0;
    bottom: -1px
}

.widget .friend-links a {
    display: block;
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
    color: #959595;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.widget .friend-links a:hover {
    color: #fff;
    text-decoration: none
}

.widget .friend-links a:last-child {
    margin-bottom: 0
}

.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.widget .tag-cloud a:hover {
    color: #ffffff;
    background: #337ab7;
    border: 1px solid #337ab7;
    text-decoration: none
}

.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595
}

.main-footer .widget {
    padding: 0 30px
}

.main-footer .widget .title {
    color: #ffffff;
    border-bottom: 1px solid #303030
}

.main-footer .widget .tag-cloud a {
    border: 1px solid #303030
}

.main-footer .widget .tag-cloud a:hover {
    border: 1px solid #337ab7
}

.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030
}

.copyright span {
    margin: 0 .5em
}

.copyright a {
    color: #555
}

.main-footer{
    margin-top: 120px;
}

.qrcode{
    width: 200px;
    height: 200px;
    margin-top: 80px;
    cursor: pointer;
}

p{
    margin-left: 50px;
    margin-top: 30px;
}

.video{
    height: 700px;
    background-image: url("../asstes/head_bg.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

.video-title{
    color:#fff;
    margin-bottom: 20px;
}
.video-tag{
    color:#fff;
    margin-bottom: 50px;
}

.watch-video-btn {
    background: transparent;
    border: 2px solid #14cc70;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.watch-video-btn:hover{
    color: aquamarine;
}
.watch-video-btn:active{
    color: white;
}
.watch-video-btn:focus{
    color: white;
}

.content-div{
    margin-top: 250px;
}

.trial {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.trial .btn-trial {
    padding:10px;
    width: 300px;
    border-radius:50px;
    background-color:#14cc70;
    margin: -35px auto !important;
}
.trial .btn-trial a {
    font-size:24px;
    color:#fff;
}

.section-heading {
    margin: 80px 0;
    display: inline-block;
    position: relative;
}
.section-heading:after {
    position: absolute;
    border-bottom: 1px solid #cccccc;
    content: '';
    width: auto;
    left: -50px;
    right: -50px;
    margin: 70px auto auto auto;
}
.features-heading {
    margin: 80px 0;
    display: inline-block;
    position: relative;
}
.features-heading:after {
    position: absolute;
    border-bottom: 1px solid #444444;
    content: '';
    width: auto;
    left: -50px;
    right: -50px;
    margin: 70px auto auto auto;
}


/* video modal */
#videoModal .modal-body #control #play-pause,#videoModal .modal-body #control #video-replay {
    position:absolute;width:142px;height:142px;border:0;top:50%;left:50%;transform:translate(-50%,-50%);display: none;
}
#videoModal .modal-body #control #play-pause {
    background:url("../asstes/video_play.png") no-repeat
}
#videoModal .modal-body #control #video-replay {
    background:url("../asstes/video_replay.png") no-repeat
}